body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0,0,0,0.08);
  height: 100%;
}


/* 
  General Styles
  ====
*/

#root, main, 
.container, .section {
  height: 100%;
}


/* 
  Login Page
  ====
*/

.card-wrapper {
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 20px 62px;
  min-height: 260px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  position: relative;
  top: 60%;
}

.card-wrapper .subtitle {
  margin: 30px 0 !important;
  display: block;
}

/* main */

h2 {
  font-weight: 900;
}

span {
  font-weight: 400;
}

.container {
  overflow: hidden;
  padding: 20px 0;
}

/* during the audio */
.container.js-active {
  margin-bottom: 90px;
}

img {
  max-width: 100%;
}

.section {
  padding: 0;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-list:hover li {
  opacity: 0.4;
}

/* Elements */
.section-list_item {
  cursor: pointer;
  background-color: black;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 5;
      -ms-flex: 5 2 25%;
          flex: 5 2 25%;

  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;

  opacity: 1;
}

.section-list_item:hover {
  opacity: 1 !important;
}

.section-list_item.js-active {
  flex-grow: 40;
}

.section-list_item.js-active img,
.section-list_item:hover img {
  -webkit-transform: translate3d(0px, -50px, 0);
          transform: translate3d(0px, -50px, 0);
}

.section-list_item.js-active figcaption,
.section-list_item:hover figcaption {
  top: 120px;
}

.section-list_item.js-active h2,
.section-list_item.js-active span  {
  color: yellow;
}

/* Track */

.track-image {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 200px;
}

.track-image img {
  width: 100%;
  opacity: .6;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);

  -webkit-transition: -webkit-transform 0.15s linear 0s;
  transition: -webkit-transform 0.15s linear 0s;
  transition: transform 0.15s linear 0s;
  transition: transform 0.15s linear 0s, -webkit-transform 0.15s linear 0s;
}

.track-image figcaption {
  position: absolute;
  top: 130px;
  left: 0;
  display: block;
  width: 100%;
  padding-left: 5%;
  color: #FFFFFF;

  transition: top 0.10s linear .1s;
}

.track-image figcaption h2 {
  text-transform: uppercase;
  line-height: 20px;
}

.track-image figcaption span {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.track-info {
  width: 100%;
  max-height: 160px;
  height: auto;
  padding: 20px 0;
  background-color: white;
  position: fixed;
  z-index: 2;
  bottom: -260px;
  left: 0;

  transition: bottom 0.25s ease 0s;

  box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.audio-container {
  text-align: center;
}

.track-info.js-active {
  bottom: 0;
}

.loading-bar {
  background-color: yellow;
  width: 0%;
  height: 10px;
  z-index: -1;
  position: absolute;
  bottom: 0;
}

/* 
  Octocat
  ====
*/

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

.track-progress {
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
}